.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 100000;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #github-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #github-logo:hover {
    opacity: 0.8;
}

.spacer {
    flex: 0.9;
}

.content-wrapper {
    padding-top: 80px;
}

footer {
    margin-top: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

img,
svg {
    vertical-align: baseline;
}

.backbroud-kabbalah {
    box-sizing: content-box !important;
    position: relative;
    height: 1110px;
    border-radius: 10px;
    background: linear-gradient(#000080, #b30000);
    @media only screen and (max-width: 600px) {
        resize: both;
        overflow: auto;
    }
}

.veu-abismo {
    box-sizing: content-box !important;
    position: absolute;
    border-bottom: solid #5c00e6 6px;
    height: 300px;
    width: 100%;
    z-index: 0;
    opacity: 0.75;
}

.veu-parokhet {
    box-sizing: content-box !important;
    position: absolute;
    border-bottom: solid white 4px;
    height: 532px;
    width: 100%;
    z-index: 0;
    opacity: 0.20;
}

.veu-nephesch {
    box-sizing: content-box !important;
    position: absolute;
    border-bottom: solid white 4px;
    height: 1030px;
    width: 100%;
    z-index: 0;
    opacity: 0.20;
}

.kabbalah {
    font-family: auto;
    box-sizing: content-box !important;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 475px;
    height: inherit;
}

.hebraic {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}

.infos {
    box-sizing: content-box !important;
    margin-top: -10px;
}

#path_lean_left {
    box-sizing: content-box !important;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    width: 40px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background: white;
    border: 4px double #666666;
    z-index: 3;
}

#path_lean_left:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#path_lean_right {
    box-sizing: content-box !important;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    width: 40px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background: white;
    border: 4px double #666666;
    z-index: 4;
}

#path_lean_right:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#vertpath_long {
    box-sizing: content-box !important;
    width: 40px;
    height: 400px;
    border: 1px solid black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    align-items: center;
    border: 4px double #666666;
    z-index: 3;
}

#vertpath_long:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#horzpath {
    box-sizing: content-box !important;
    width: 380px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background: white;
    border: 4px double #666666;
    z-index: 4;
}

#horzpath:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#vertpath_short {
    box-sizing: content-box !important;
    width: 40px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background: white;
    border: 4px double #666666;
    z-index: 3;
}

#vertpath_short:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#bigslant {
    box-sizing: content-box !important;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    width: 40px;
    height: 350px;
    border: 1px solid black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background: white;
    border: 4px double #666666;
    z-index: 2;
}

#bigslant:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#bigslant2 {
    box-sizing: content-box !important;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    width: 40px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background: white;
    border: 4px double #666666;
    z-index: 2;
}

#bigslant2:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 4px double #808B96;
    background: #EAECEE;
}

#kether {
    box-sizing: content-box !important;
    position: relative;
    top: -0px;
    z-index: 5;
}

.kether {
    box-sizing: content-box !important;
    position: relative;
    margin-left: 36%;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
}

.kether:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: #aaa;
    text-decoration: none;
    background: #FFFFFF;
    transition: all 1.0s ease;
}

#chokmah {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    left: 80px;
    top: -10px;
    z-index: 5;
}

.chokmah {
    box-sizing: content-box !important;
    position: relative;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
}

.chokmah:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #999999;
    transition: all 1.0s ease;
}

#binah {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    left: -80px;
    top: -10px;
}

.binah {
    box-sizing: content-box !important;
    position: relative;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.binah:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #000d1a;
    transition: all 1.0s ease;
}

#daath {
    box-sizing: content-box !important;
    position: relative;
    top: -356px;
}

.daath {
    box-sizing: content-box !important;
    position: relative;
    margin-left: 36%;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #737373;
    font-size: 20px;
    color: #666;
    line-height: 125px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #cccccc;
    z-index: 1;
    opacity: 0.15;
    line-height: 24px;
}

.daath:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #EAECEE;
    opacity: 1.0;
    z-index: 5;
    transition: all 1.5s ease;
}

#chesed {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    left: 34px;
    top: -645px;
}

.chesed {
    box-sizing: content-box !important;
    position: relative;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.chesed:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #0433ff;
    transition: all 1.0s ease;
}

#geburah {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    left: -34px;
    top: -645px;
}

.geburah {
    box-sizing: content-box !important;
    position: relative;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.geburah:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #ff0000;
    transition: all 1.0s ease;
}

#tipheret {
    box-sizing: content-box !important;
    position: relative;
    top: -526px;
}

.tipheret {
    box-sizing: content-box !important;
    position: relative;
    margin-left: 36%;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.tipheret:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #fcfb00;
    transition: all 1.0s ease;
}

#netzach {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    left: 34px;
    top: -894px;
}

.netzach {
    box-sizing: content-box !important;
    position: relative;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.netzach:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #26ce23;
    transition: all 1.0s ease;
}

#hod {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    left: -34px;
    top: -894px;
}

.hod {
    box-sizing: content-box !important;
    position: relative;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.hod:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #ff9a00;
    transition: all 1.0s ease;
}

#yesod {
    box-sizing: content-box !important;
    position: relative;
    top: -935px;
}

.yesod {
    box-sizing: content-box !important;
    position: relative;
    margin-left: 36%;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.yesod:hover {
    box-sizing: content-box !important;
    border: 4px solid #808B96;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #9a2dcf;
    transition: all 1.0s ease;
}

#malkuth {
    box-sizing: content-box !important;
    position: relative;
    top: -1020px;
}

.malkuth {
    box-sizing: content-box !important;
    position: relative;
    margin-left: 36%;
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 66px;
    border: 4px double #666666;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #EAECEE;
    z-index: 5;
}

.malkuth:hover {
    box-sizing: content-box !important;
    border: 4px solid #bbb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    transition: all 1.0s ease;
}

#malkuthbg {
    margin-left: 36%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 25000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 25000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 25000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 126px;
    height: 126px;
}

.quarter {
    box-sizing: content-box !important;
    width: 63px;
    height: 63px
}

.top-left {
    border-top-left-radius: 62px;
    background: #CA6F1E;
    float: left
}

.top-right {
    border-top-right-radius: 62px;
    background: #808000;
    float: right
}

.bottom-left {
    border-bottom-left-radius: 62px;
    background: #7B241C;
    float: left
}

.bottom-right {
    border-bottom-right-radius: 62px;
    background: #333;
    float: right;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.caminho-0 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    top: -86px;
    left: -92px;
}

.path11_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path11_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #fffb00;
    transition: all 1.0s ease;
}

.caminho-1 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    top: -86px;
    left: 92px;
}

.path12_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path12_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #fdfb00;
    transition: all 1.0s ease;
}

.caminho-2 {
    box-sizing: content-box !important;
    position: relative;
    top: -15px;
    left: 35px;
}

.path13_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path13_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #0433ff;
    transition: all 1.0s ease;
}

.caminho-3 {
    box-sizing: content-box !important;
    position: relative;
    top: -374px;
}

.path14_link {
    box-sizing: content-box !important;
    position: relative;
    left: 50px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

.path14_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #22d023;
    transition: all 1.0s ease;
}

.caminho-4 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    top: -414px;
    left: -70px;
}

.path15_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    line-height: 16px;
    text-shadow: 0 1px 0 #fff;
}

.path15_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ff2600;
    transition: all 1.0s ease;
}

.caminho-5 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    left: -5px;
    top: -382px;
}

.path16_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path16_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ff6100;
    transition: all 1.0s ease;
}

.caminho-6 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    top: -414px;
    left: 70px
}

.path17_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path17_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ff9c00;
    transition: all 1.0s ease;
}

.caminho-7 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    top: -382px;
    left: 12px;
}

.path18_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path18_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ffc200;
    transition: all 1.0s ease;
}

.caminho-8 {
    box-sizing: content-box !important;
    top: -555px;
    text-align: center;
}

.path19_link {
    box-sizing: content-box !important;
    position: relative;
    left: 50px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    line-height: 40px;
    text-shadow: 0 1px 0 #fff;
}

.path19_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #fffb00;
    transition: all 1.0s ease;
}

.caminho-9 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    top: -318px;
    left: 225px;
}

.path20_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path20_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #b5ce1c;
    transition: all 1.0s ease;
}

.caminho-10 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    left: 123px;
    top: -570px;
}

.path21_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path21_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #9a2dcf;
    transition: all 1.0s ease;
}

.caminho-11 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    top: -318px;
    left: -225px;
}

.path22_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path22_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #22cd21;
    transition: all 1.0s ease;
}

.caminho-12 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    left: -123px;
    top: -570px;
}

.path23_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    line-height: 16px;
    text-shadow: 0 1px 0 #fff;
}

.path23_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #0433ff;
    transition: all 1.0s ease;
}

.caminho-13 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    top: -620px;
    left: 70px;
}

.path24_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path24_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #249688;
    transition: all 1.0s ease;
}

.caminho-14 {
    box-sizing: content-box !important;
    position: relative;
    top: -745px;
    height: 200px;
    left: 210px;
}

.path25_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path25_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #0433ff;
    transition: all 1.0s ease;
}

.caminho-15 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    top: -620px;
    left: -70px;
}

.path26_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path26_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #6c2fe6;
    transition: all 1.0s ease;
}

.caminho-16 {
    box-sizing: content-box !important;
    position: relative;
    top: -985px;
}

.path27_link {
    box-sizing: content-box !important;
    position: relative;
    left: 50px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.path27_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ff2600;
    transition: all 1.0s ease;
}

.caminho-17 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    left: -105px;
    top: -1015px;
}

.path28_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path28_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #9a2dcf;
    transition: all 1.0s ease;
}

.caminho-18 {
    box-sizing: content-box !important;
    position: relative;
    float: right;
    top: -998px;
    left: -45px;
}

.path29_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path29_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #9b1a66;
    transition: all 1.0s ease;
}

.caminho-19 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    left: 105px;
    top: -1015px;
}

.path30_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path30_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ff9a00;
    transition: all 1.0s ease;
}

.caminho-20 {
    box-sizing: content-box !important;
    position: relative;
    float: left;
    top: -998px;
    left: 45px
}

.path31_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path31_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #ff2600;
    transition: all 1.0s ease;
}

.caminho-21 {
    box-sizing: content-box !important;
    position: relative;
    top: -950px;
    left: 115px;
}

.path32_link {
    box-sizing: content-box !important;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    line-height: 16px;
}

.path32_link:hover {
    box-sizing: content-box !important;
    text-decoration: none;
    color: #000000;
    border: 1px #FF0000;
    background: #6d2ee0;
    transition: all 1.0s ease;
}
