
<div class="backgroud">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">

    <div class="justify-content-start m-3">
      <a class="navbar-brand" href="https://github.com/KevinMartins367/">
        <img width="40" alt="Kevin Martins" class="rounded-circle img-fluid
          d-inline-block align-top" src="assets/images/kevin_maritns.jpg" />
        <span class="name"> {{title}}</span>
      </a>

    </div>
    <button class="navbar-toggler m-3" type="button" data-bs-toggle="collapse"
      (click)="mobile= !mobile" [attr.aria-expanded]="!mobile"
      data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end m-3"
      [ngbCollapse]="!mobile" id="navbarSupportedContent">

      <form class="form-inline">
        <div class="input-group">
          <input class="form-control mr-sm-2" type="search" id="search"
            placeholder="Arcanos, Anjos, Sephiroth" aria-label="Search">
          <a class="btn btn-outline-success my-2 my-sm-0" type="button">Pesquisar</a>
        </div>
      </form>
      <div class="name">
        <a class="btn btn-link text-white text-center" target="_blank"
          rel="noopener" href="https://github.com/KevinMartins367"
          title="github">
          <i class="bi bi-github" height="36"></i>
        </a>
      </div>
    </div>

  </nav>

  <div class="container-fluid text-white">
    <div class="row m-3">
      <div class="col-md-12">
        <div class="card mb-3 bg-dark">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <label for="date">
                  Data:
                </label>
                <br>
                <input class="form-control" id="date" type="date" #date>
              </div>
              <div class="col-md-2">
                <label for="date">
                  Horário:
                </label>
                <br>
                <input class="form-control" type="time" id="time" name="time"
                  #time>
              </div>
              <div class="col-md-2">
                <label for="state">
                  Estado:
                </label>
                <br>
                <input class="form-control" placeholder="São Paulo" id="state"
                  type="text" #state>
              </div>
              <div class="col-md-2 mb-3">
                <label for="city">
                  Cidade
                </label>
                <br>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="data"
                    [searchKeyword]="keyword"
                    [isLoading]=false
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event, state.value)'
                    [itemTemplate]="itemTemplate"
                    placeholder="Santos"
                    [class]="['input']"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2 text-center">
                <button type="button" class="btn btn-primary mt-3"
                  (click)='getInfo()'>Produzir</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card bg-dark m-3">
          <div class="card-header">
            <h1 class="text-center">Mapa Sephirotico Hermetico</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="card bg-dark">

                  <div class="card-body">
                    <div class="backbroud-kabbalah">
                      <div class="veu-abismo">
                      </div>
                      <div class="veu-parokhet">
                      </div>
                      <div class="veu-nephesch">
                      </div>
                      <div class="kabbalah">

                        <div id="kether">
                          <a  (click)="searchInfo('kether')"
                            class="kether">
                            <div class="infos">
                              <br>1 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.kether" >{{infos.sephiroth_angel.kether.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="path_lean_left" class="caminho-1">
                          <a  (click)="searchPassage('mago')"
                            class="path12_link">
                            <br><br>I<br>
                          </a>
                        </div>
                        <div id="path_lean_right" class="caminho-0">
                          <a  (click)="searchPassage('louco')"
                            class="path11_link">
                            <br><br>0<br>
                          </a>
                        </div>
                        <div id="chokmah">
                          <a  (click)="searchInfo('chokmah')"
                            class="chokmah">
                            <div class="infos">
                              <br>2 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.chokmah" >{{infos.sephiroth_angel.chokmah.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="binah">
                          <a  (click)="searchInfo('binah')"
                            class="binah">
                            <br>3 <br> <br>
                            <p *ngIf="infos.sephiroth_angel.binah" >{{infos.sephiroth_angel.binah.angel.angel}}</p>
                          </a>
                        </div>
                        <div id="vertpath_long" class="caminho-2">
                          <a  (click)="searchPassage('sacerdotisa')"
                            class="path13_link">
                            <br><br><br><br><br><br><br>II<br>
                          </a>
                        </div>
                        <div id="horzpath" class="caminho-3">
                          <a  (click)="searchPassage('imperatriz')"
                            class="path14_link">
                            III
                          </a>
                        </div>
                        <div id="vertpath_short" class="caminho-7">
                          <a  (click)="searchPassage('carro')"
                            class="path18_link">
                            <br><br><br><br><br><br>VII<br>
                          </a>
                        </div>
                        <div id="vertpath_short" class="caminho-5">
                          <a  (click)="searchPassage('hierofante')"
                            class="path16_link">
                            <br><br><br><br><br><br>V<br>
                          </a>
                        </div>
                        <div id="bigslant" class="caminho-4">
                          <a  (click)="searchPassage('imperador')"
                            class="path15_link">
                            <br><br><br><br><br><br>IV<br>
                          </a>
                        </div>
                        <div id="bigslant2" class="caminho-6">
                          <a  (click)="searchPassage('enamorados')"
                            class="path17_link">
                            <br><br><br><br><br><br><br>VI<br>
                          </a>
                        </div>
                        <div id="daath">
                          <a  (click)="searchInfo('daath')"
                            class="daath">
                            <div class="infos">
                              <br>11 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.daath" >{{infos.sephiroth_angel.daath.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="path_lean_left" class="caminho-9">
                          <a  (click)="searchPassage('eremita')"
                            class="path20_link">
                            <br><br><br><br>IX<br>
                          </a>
                        </div>
                        <div id="path_lean_right" class="caminho-11">
                          <a  (click)="searchPassage('justica')"
                            class="path22_link">
                            <br><br><br><br>XI<br>
                          </a>
                        </div>
                        <div id="horzpath" class="caminho-8">
                          <a  (click)="searchPassage('forca')"
                            class="path19_link">
                            VIII
                          </a>
                        </div>
                        <div id="chesed">
                          <a  (click)="searchInfo('chesed')"
                            class="chesed">
                            <div class="infos">
                              <br>4 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.chesed" >{{infos.sephiroth_angel.chesed.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="geburah">
                          <a  (click)="searchInfo('geburah')"
                            class="geburah">
                            <div class="infos">
                              <br>5 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.geburah" >{{infos.sephiroth_angel.geburah.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="vertpath_short" class="caminho-12">
                          <a  (click)="searchPassage('pendurado')"
                            class="path23_link">
                            <br><br><br><br><br><br>XII
                          </a>
                        </div>
                        <div id="vertpath_short" class="caminho-10">
                          <a  (click)="searchPassage('roda')"
                            class="path21_link">
                            <br><br><br><br><br><br>X
                          </a>
                        </div>
                        <div id="tipheret">
                          <a  (click)="searchInfo('tipheret')"
                            class="tipheret">
                            <div class="infos">
                              <br>6 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.tipheret" >{{infos.sephiroth_angel.tipheret.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="path_lean_right" class="caminho-13">
                          <a  (click)="searchPassage('morte')"
                            class="path24_link">
                            <br><br><br><br>XIII
                          </a>
                        </div>
                        <div id="path_lean_left" class="caminho-15">
                          <a  (click)="searchPassage('diabo')"
                            class="path26_link">
                            <br><br><br><br>XV
                          </a>
                        </div>
                        <div id="vertpath_short" class="caminho-14">
                          <a  (click)="searchPassage('temperanca')"
                            class="path25_link">
                            <br><br><br><br><br><br>XIV
                          </a>
                        </div>
                        <div id="netzach">
                          <a  (click)="searchInfo('netzach')"
                            class="netzach">
                            <div class="infos">
                              <br>7 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.netzach" >{{infos.sephiroth_angel.netzach.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="hod">
                          <a  (click)="searchInfo('hod')" class="hod">
                            <div class="infos">
                              <br>8 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.hod" >{{infos.sephiroth_angel.hod.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="horzpath" class="caminho-16">
                          <a  (click)="searchPassage('torre')"
                            class="path27_link">
                            XVI
                          </a>
                        </div>
                        <div id="path_lean_right" class="caminho-19">
                          <a  (click)="searchPassage('sol')"
                            class="path30_link">
                            <br><br><br><br>XIX
                          </a>
                        </div>
                        <div id="path_lean_left" class="caminho-17">
                          <a  (click)="searchPassage('estrela')"
                            class="path28_link">
                            <br><br><br><br>XVII
                          </a>
                        </div>
                        <div id="bigslant" class="caminho-18">
                          <a  (click)="searchPassage('lua')"
                            class="path29_link">
                            <br><br><br><br><br><br><br><br><br><br>XVIII
                          </a>
                        </div>
                        <div id="bigslant2" class="caminho-20">
                          <a  (click)="searchPassage('julgamento')"
                            class="path31_link">
                            <br><br><br><br><br><br><br><br><br><br>XX
                          </a>
                        </div>
                        <div id="yesod">
                          <a  (click)="searchInfo( 'yesod')"
                            class="yesod">
                            <div class="infos">
                              <br>9 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.yesod" >{{infos.sephiroth_angel.yesod.angel.angel}}</p>
                            </div>
                          </a>
                        </div>
                        <div id="vertpath_short" class="caminho-21">
                          <a  (click)="searchPassage('mundo')"
                            class="path32_link">
                            <br><br><br>XXI
                          </a>
                        </div>
                        <div id="malkuth">
                          <a  (click)="searchInfo( 'malkuth')"
                            class="malkuth">
                            <div class="infos">
                              <br>10 <br> <br>
                              <p *ngIf="infos.sephiroth_angel.malkuth" >{{infos.sephiroth_angel.malkuth.angel.angel}}</p>
                            </div>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <div class="col-sm">
                        <img height="90"
                          src="https://images-na.ssl-images-amazon.com/images/I/41E6VknaHJL.jpg"
                          alt="" srcset="">
                      </div>
                      <div class="col-sm"></div>
                      <div class="col-sm"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card bg-dark m-3">
                  <div class="card-body">
                    <ng-container *ngIf="infos.sephiroth !=''">

                      <h1 class="text-capitalize">{{infos.sephiroth.name}}</h1>
                      <div class="row">
                        <div class="col-12">

                          <ul>
                            <li *ngIf="infos.sephiroth.planeta !=''">planeta: {{infos.sephiroth.planeta}}
                              <img src="{{infos.sephiroth.planeta_img}}">
                            </li>
                            <li *ngIf="infos.sephiroth.pages_kabbalah_hermetica !=''">Pagina do Kabbalah Hermetica:
                              {{infos.sephiroth.pages_kabbalah_hermetica}} pg</li>
                          </ul>

                          <div *ngIf="infos.sephiroth.angel !=''" class="mb-3">
                            <h1>{{infos.sephiroth.angel.angel}}</h1>
                            <div class="row">
                              <div class="col-12">

                                <ul>
                                  <li *ngIf="infos.sephiroth.angel.major_arcana[0] !=''">Arcano Maior:
                                    <a [href]="'/?major_arcana=' + infos.sephiroth.angel.major_arcana[0]" target="_blank" rel="noopener noreferrer">
                                      {{infos.sephiroth.angel.major_arcana[0]}}
                                    </a>
                                  </li>
                                  <li *ngIf="infos.sephiroth.angel.minor_arcana[0] !=''">Arcano Menor:
                                    <a [href]="'/?minor_arcana=' + infos.sephiroth.angel.minor_arcana[0]" target="_blank" rel="noopener noreferrer">
                                      {{infos.sephiroth.angel.minor_arcana[0]}}
                                    </a>
                                  </li>
                                  <li *ngIf="infos.sephiroth.angel.polarity !=''">Polaridade: {{infos.sephiroth.angel.polarity}}</li>
                                  <li *ngIf="infos.sephiroth.angel.hour !=''">Horario do dia: {{infos.sephiroth.angel.hour}}</li>
                                  <li *ngIf="infos.sephiroth.angel.caste !=''">Reino: {{infos.sephiroth.angel.caste}}</li>
                                  <li *ngIf="infos.sephiroth.angel.color !=''">Cor:
                                    <div style="background-color: {{infos.sephiroth.angel.color}}">&nbsp;</div>
                                  </li>
                                  <li *ngIf="infos.sephiroth.angel.hebrew_name !=''">Letra Hebraica: {{infos.sephiroth.angel.hebrew_name}}</li>
                                  <li *ngIf="infos.sephiroth.angel.link_wiki_mdd !=''">
                                    <a href="{{infos.sephiroth.angel.link_wiki_mdd}}" target="_blank" rel="noopener noreferrer">Wiki Projeto Mayhem
                                    </a>
                                  </li>
                                  <li *ngIf="infos.sephiroth.angel.versiculo !=''">versiculo: {{infos.sephiroth.angel.versiculo}}</li>
                                  <li *ngIf="infos.sephiroth.angel.salmo !=''">Salmo: {{infos.sephiroth.angel.salmo}}</li>
                                  <li *ngIf="infos.sephiroth.angel.deamon !=''">Demonio oposto: {{infos.sephiroth.angel.deamon}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <h3>Referencias</h3>
                          <ul>
                            <li *ngIf="infos.sephiroth.wiki_mdd !=''"><a
                                href="{{infos.sephiroth.wiki_mdd}}" target="_blank"
                                rel="noopener noreferrer">Wiki Projeto Mayhem</a></li>
                            <li *ngIf="infos.sephiroth.link_youtube_cdh !=''"><a
                                href="{{infos.sephiroth.link_youtube_cdh}}"
                                target="_blank" rel="noopener noreferrer">Video CdH</a></li>
                            <li *ngIf="infos.sephiroth.link_youtube_yair !=''"><a
                                href="{{infos.sephiroth.link_youtube_yair}}"
                                target="_blank" rel="noopener noreferrer">Video Yair
                                Alon</a></li>
                          </ul>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-dark m-3">
          <div class="card-header">
            <h1 class="text-center">Mapa Astrologico</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="paper" id="paper"></div>

              </div>
              <div class="col-md-6">
                <div class="card bg-dark m-3">
                  <div class="card-body">

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Planeta</th>
                          <th scope="col">Signo</th>
                          <th scope="col">Posição</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{infos.horoscope.tipheret.planet}}</td>
                          <td>{{infos.horoscope.tipheret.sign}}</td>
                          <td>{{infos.horoscope.tipheret.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.malkuth.planet}}</td>
                          <td>{{infos.horoscope.malkuth.sign}}</td>
                          <td>{{infos.horoscope.malkuth.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.yesod.planet}}</td>
                          <td>{{infos.horoscope.yesod.sign}}</td>
                          <td>{{infos.horoscope.yesod.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.hod.planet}}</td>
                          <td>{{infos.horoscope.hod.sign}}</td>
                          <td>{{infos.horoscope.hod.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.netzach.planet}}</td>
                          <td>{{infos.horoscope.netzach.sign}}</td>
                          <td>{{infos.horoscope.netzach.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.geburah.planet}}</td>
                          <td>{{infos.horoscope.geburah.sign}}</td>
                          <td>{{infos.horoscope.geburah.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.chesed.planet}}</td>
                          <td>{{infos.horoscope.chesed.sign}}</td>
                          <td>{{infos.horoscope.chesed.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.binah.planet}}</td>
                          <td>{{infos.horoscope.binah.sign}}</td>
                          <td>{{infos.horoscope.binah.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.chokmah.planet}}</td>
                          <td>{{infos.horoscope.chokmah.sign}}</td>
                          <td>{{infos.horoscope.chokmah.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.keter.planet}}</td>
                          <td>{{infos.horoscope.keter.sign}}</td>
                          <td>{{infos.horoscope.keter.position}}</td>
                        </tr>
                        <tr>
                          <td>{{infos.horoscope.daath.planet}}</td>
                          <td>{{infos.horoscope.daath.sign}}</td>
                          <td>{{infos.horoscope.daath.position}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-dark m-3">
          <div class="card-header">
            <h1 class="text-center">Odus</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="odus mnl">
                      <br>
                      <h3>frente</h3>
                      <div *ngIf="infos.odus.frente.length > 1;else frente_one">
                        <h6>{{infos.odus.frente[0].name}} ou {{infos.odus.frente[1].name}}</h6>
                        <p>{{infos.odus.frente[0].value}} ou {{infos.odus.frente[1].value}}</p>
                      </div>
                      <ng-template #frente_one>
                        <h6>{{infos.odus.frente[0].name}}</h6>
                        <p>{{infos.odus.frente[0].value}}</p>
                      </ng-template>

                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="odus ">
                      <br>
                      <h3>esquerda</h3>
                      <div *ngIf="infos.odus.esquerda.length > 1;else esquerda_one">
                        <h6>{{infos.odus.esquerda[0].name}} ou {{infos.odus.esquerda[1].name}}</h6>
                        <p>{{infos.odus.esquerda[0].value}} ou {{infos.odus.esquerda[1].value}}</p>
                      </div>
                      <ng-template #esquerda_one>
                        <h6>{{infos.odus.esquerda[0].name}}</h6>
                        <p>{{infos.odus.esquerda[0].value}}</p>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                  </div>
                  <div class="col-md-4 ">
                    <div class="odus ">
                      <br>
                      <h3>direita</h3>
                      <div *ngIf="infos.odus.direita.length > 1;else direita_one">
                        <h6>{{infos.odus.direita[0].name}} ou {{infos.odus.direita[1].name}}</h6>
                        <p>{{infos.odus.direita[0].value}} ou {{infos.odus.direita[1].value}}</p>
                      </div>
                      <ng-template #direita_one>
                        <h6>{{infos.odus.direita[0].name}}</h6>
                        <p>{{infos.odus.direita[0].value}}</p>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="odus mnl">
                      <br>
                      <h3>costa</h3>
                      <div *ngIf="infos.odus.costa.length > 1;else costa_one">
                        <h6>{{infos.odus.costa[0].name}} ou {{infos.odus.costa[1].name}}</h6>
                        <p>{{infos.odus.costa[0].value}} ou {{infos.odus.costa[1].value}}</p>
                      </div>
                      <ng-template #costa_one>
                        <h6>{{infos.odus.costa[0].name}}</h6>
                        <p>{{infos.odus.costa[0].value}}</p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-dark m-3">
                  <div class="card-body">
                    <div id="Frente">

                      <div *ngIf="infos.odus.frente.length > 1;else frente_one_info">
                        <h1>Odu Frente</h1>

                        <h3>Primeiro Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.frente[0].name !=''">Nome: {{infos.odus.frente[0].name}}
                          </li>
                          <li *ngIf="infos.odus.frente[0].value !=''">Valor: {{infos.odus.frente[0].value}}</li>
                          <li *ngIf="infos.odus.frente[0].element !=''">Elemento: {{infos.odus.frente[0].element}}</li>
                          <li *ngIf="infos.odus.frente[0].orixas !=''">Orixá regente: {{infos.odus.frente[0].orixas}}</li>
                          <li *ngIf="infos.odus.frente[0].respond !=''">Orixas que respondem: {{infos.odus.frente[0].respond}}</li>
                          <li *ngIf="infos.odus.frente[0].abstract !=''">Pessoas com este odú: {{infos.odus.frente[0].abstract}}</li>
                          <li *ngIf="infos.odus.frente[0].aspects !=''">Aspectos do odú: {{infos.odus.frente[0].aspects}}</li>
                        </ul>

                        <h3>Segundo Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.frente[1].name !=''">Nome: {{infos.odus.frente[1].name}}
                          </li>
                          <li *ngIf="infos.odus.frente[1].value !=''">Valor: {{infos.odus.frente[1].value}}</li>
                          <li *ngIf="infos.odus.frente[1].element !=''">Elemento: {{infos.odus.frente[1].element}}</li>
                          <li *ngIf="infos.odus.frente[1].orixas !=''">Orixá regente: {{infos.odus.frente[1].orixas}}</li>
                          <li *ngIf="infos.odus.frente[1].respond !=''">Orixas que respondem: {{infos.odus.frente[1].respond}}</li>
                          <li *ngIf="infos.odus.frente[1].abstract !=''">Pessoas com este odú: {{infos.odus.frente[1].abstract}}</li>
                          <li *ngIf="infos.odus.frente[1].aspects !=''">Aspectos do odú: {{infos.odus.frente[1].aspects}}</li>
                        </ul>

                      </div>
                      <ng-template #frente_one_info>
                        <h1>Odu Frente</h1>
                        <ul>
                          <li *ngIf="infos.odus.frente[0].name !=''">Nome: {{infos.odus.frente[0].name}}
                          </li>
                          <li *ngIf="infos.odus.frente[0].value !=''">Valor: {{infos.odus.frente[0].value}}</li>
                          <li *ngIf="infos.odus.frente[0].element !=''">Elemento: {{infos.odus.frente[0].element}}</li>
                          <li *ngIf="infos.odus.frente[0].orixas !=''">Orixá regente: {{infos.odus.frente[0].orixas}}</li>
                          <li *ngIf="infos.odus.frente[0].respond !=''">Orixas que respondem: {{infos.odus.frente[0].respond}}</li>
                          <li *ngIf="infos.odus.frente[0].abstract !=''">Pessoas com este odú: {{infos.odus.frente[0].abstract}}</li>
                          <li *ngIf="infos.odus.frente[0].aspects !=''">Aspectos do odú: {{infos.odus.frente[0].aspects}}</li>
                        </ul>
                      </ng-template>
                    </div>
                    <div id="costa">

                      <div *ngIf="infos.odus.costa.length > 1;else costa_one_info">
                        <h1>Odu Costa</h1>

                        <h3>Primeiro Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.costa[0].name !=''">Nome: {{infos.odus.costa[0].name}}
                          </li>
                          <li *ngIf="infos.odus.costa[0].value !=''">Valor: {{infos.odus.costa[0].value}}</li>
                          <li *ngIf="infos.odus.costa[0].element !=''">Elemento: {{infos.odus.costa[0].element}}</li>
                          <li *ngIf="infos.odus.costa[0].orixas !=''">Orixá regente: {{infos.odus.costa[0].orixas}}</li>
                          <li *ngIf="infos.odus.costa[0].respond !=''">Orixas que respondem: {{infos.odus.costa[0].respond}}</li>
                          <li *ngIf="infos.odus.costa[0].abstract !=''">Pessoas com este odú: {{infos.odus.costa[0].abstract}}</li>
                          <li *ngIf="infos.odus.costa[0].aspects !=''">Aspectos do odú: {{infos.odus.costa[0].aspects}}</li>
                        </ul>

                        <h3>Segundo Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.costa[1].name !=''">Nome: {{infos.odus.costa[1].name}}
                          </li>
                          <li *ngIf="infos.odus.costa[1].value !=''">Valor: {{infos.odus.costa[1].value}}</li>
                          <li *ngIf="infos.odus.costa[1].element !=''">Elemento: {{infos.odus.costa[1].element}}</li>
                          <li *ngIf="infos.odus.costa[1].orixas !=''">Orixá regente: {{infos.odus.costa[1].orixas}}</li>
                          <li *ngIf="infos.odus.costa[1].respond !=''">Orixas que respondem: {{infos.odus.costa[1].respond}}</li>
                          <li *ngIf="infos.odus.costa[1].abstract !=''">Pessoas com este odú: {{infos.odus.costa[1].abstract}}</li>
                          <li *ngIf="infos.odus.costa[1].aspects !=''">Aspectos do odú: {{infos.odus.costa[1].aspects}}</li>
                        </ul>

                      </div>
                      <ng-template #costa_one_info>
                        <h1>Odu Costa</h1>
                        <ul>
                          <li *ngIf="infos.odus.costa[0].name !=''">Nome: {{infos.odus.costa[0].name}}
                          </li>
                          <li *ngIf="infos.odus.costa[0].value !=''">Valor: {{infos.odus.costa[0].value}}</li>
                          <li *ngIf="infos.odus.costa[0].element !=''">Elemento: {{infos.odus.costa[0].element}}</li>
                          <li *ngIf="infos.odus.costa[0].orixas !=''">Orixá regente: {{infos.odus.costa[0].orixas}}</li>
                          <li *ngIf="infos.odus.costa[0].respond !=''">Orixas que respondem: {{infos.odus.costa[0].respond}}</li>
                          <li *ngIf="infos.odus.costa[0].abstract !=''">Pessoas com este odú: {{infos.odus.costa[0].abstract}}</li>
                          <li *ngIf="infos.odus.costa[0].aspects !=''">Aspectos do odú: {{infos.odus.costa[0].aspects}}</li>
                        </ul>
                      </ng-template>
                    </div>
                    <div id="direita">

                      <div *ngIf="infos.odus.direita.length > 1;else direita_one_info">
                        <h1>Odu Direita</h1>

                        <h3>Primeiro Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.direita[0].name !=''">Nome: {{infos.odus.direita[0].name}}
                          </li>
                          <li *ngIf="infos.odus.direita[0].value !=''">Valor: {{infos.odus.direita[0].value}}</li>
                          <li *ngIf="infos.odus.direita[0].element !=''">Elemento: {{infos.odus.direita[0].element}}</li>
                          <li *ngIf="infos.odus.direita[0].orixas !=''">Orixá regente: {{infos.odus.direita[0].orixas}}</li>
                          <li *ngIf="infos.odus.direita[0].respond !=''">Orixas que respondem: {{infos.odus.direita[0].respond}}</li>
                          <li *ngIf="infos.odus.direita[0].abstract !=''">Pessoas com este odú: {{infos.odus.direita[0].abstract}}</li>
                          <li *ngIf="infos.odus.direita[0].aspects !=''">Aspectos do odú: {{infos.odus.direita[0].aspects}}</li>
                        </ul>

                        <h3>Segundo Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.direita[1].name !=''">Nome: {{infos.odus.direita[1].name}}
                          </li>
                          <li *ngIf="infos.odus.direita[1].value !=''">Valor: {{infos.odus.direita[1].value}}</li>
                          <li *ngIf="infos.odus.direita[1].element !=''">Elemento: {{infos.odus.direita[1].element}}</li>
                          <li *ngIf="infos.odus.direita[1].orixas !=''">Orixá regente: {{infos.odus.direita[1].orixas}}</li>
                          <li *ngIf="infos.odus.direita[1].respond !=''">Orixas que respondem: {{infos.odus.direita[1].respond}}</li>
                          <li *ngIf="infos.odus.direita[1].abstract !=''">Pessoas com este odú: {{infos.odus.direita[1].abstract}}</li>
                          <li *ngIf="infos.odus.direita[1].aspects !=''">Aspectos do odú: {{infos.odus.direita[1].aspects}}</li>
                        </ul>

                      </div>
                      <ng-template #direita_one_info>
                        <h1>Odu Direita</h1>
                        <ul>
                          <li *ngIf="infos.odus.direita[0].name !=''">Nome: {{infos.odus.direita[0].name}}
                          </li>
                          <li *ngIf="infos.odus.direita[0].value !=''">Valor: {{infos.odus.direita[0].value}}</li>
                          <li *ngIf="infos.odus.direita[0].element !=''">Elemento: {{infos.odus.direita[0].element}}</li>
                          <li *ngIf="infos.odus.direita[0].orixas !=''">Orixá regente: {{infos.odus.direita[0].orixas}}</li>
                          <li *ngIf="infos.odus.direita[0].respond !=''">Orixas que respondem: {{infos.odus.direita[0].respond}}</li>
                          <li *ngIf="infos.odus.direita[0].abstract !=''">Pessoas com este odú: {{infos.odus.direita[0].abstract}}</li>
                          <li *ngIf="infos.odus.direita[0].aspects !=''">Aspectos do odú: {{infos.odus.direita[0].aspects}}</li>
                        </ul>
                      </ng-template>
                    </div>
                    <div id="esquerda">

                      <div *ngIf="infos.odus.esquerda.length > 1;else esquerda_one_info">
                        <h1>Odu Esquerda</h1>

                        <h3>Primeiro Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.esquerda[0].name !=''">Nome: {{infos.odus.esquerda[0].name}}
                          </li>
                          <li *ngIf="infos.odus.esquerda[0].value !=''">Valor: {{infos.odus.esquerda[0].value}}</li>
                          <li *ngIf="infos.odus.esquerda[0].element !=''">Elemento: {{infos.odus.esquerda[0].element}}</li>
                          <li *ngIf="infos.odus.esquerda[0].orixas !=''">Orixá regente: {{infos.odus.esquerda[0].orixas}}</li>
                          <li *ngIf="infos.odus.esquerda[0].respond !=''">Orixas que respondem: {{infos.odus.esquerda[0].respond}}</li>
                          <li *ngIf="infos.odus.esquerda[0].abstract !=''">Pessoas com este odú: {{infos.odus.esquerda[0].abstract}}</li>
                          <li *ngIf="infos.odus.esquerda[0].aspects !=''">Aspectos do odú: {{infos.odus.esquerda[0].aspects}}</li>
                        </ul>

                        <h3>Segundo Possivel Odu</h3>
                        <ul>
                          <li *ngIf="infos.odus.esquerda[1].name !=''">Nome: {{infos.odus.esquerda[1].name}}
                          </li>
                          <li *ngIf="infos.odus.esquerda[1].value !=''">Valor: {{infos.odus.esquerda[1].value}}</li>
                          <li *ngIf="infos.odus.esquerda[1].element !=''">Elemento: {{infos.odus.esquerda[1].element}}</li>
                          <li *ngIf="infos.odus.esquerda[1].orixas !=''">Orixá regente: {{infos.odus.esquerda[1].orixas}}</li>
                          <li *ngIf="infos.odus.esquerda[1].respond !=''">Orixas que respondem: {{infos.odus.esquerda[1].respond}}</li>
                          <li *ngIf="infos.odus.esquerda[1].abstract !=''">Pessoas com este odú: {{infos.odus.esquerda[1].abstract}}</li>
                          <li *ngIf="infos.odus.esquerda[1].aspects !=''">Aspectos do odú: {{infos.odus.esquerda[1].aspects}}</li>
                        </ul>

                      </div>
                      <ng-template #esquerda_one_info>
                        <h1>Odu Esquerda</h1>
                        <ul>
                          <li *ngIf="infos.odus.esquerda[0].name !=''">Nome: {{infos.odus.esquerda[0].name}}
                          </li>
                          <li *ngIf="infos.odus.esquerda[0].value !=''">Valor: {{infos.odus.esquerda[0].value}}</li>
                          <li *ngIf="infos.odus.esquerda[0].element !=''">Elemento: {{infos.odus.esquerda[0].element}}</li>
                          <li *ngIf="infos.odus.esquerda[0].orixas !=''">Orixá regente: {{infos.odus.esquerda[0].orixas}}</li>
                          <li *ngIf="infos.odus.esquerda[0].respond !=''">Orixas que respondem: {{infos.odus.esquerda[0].respond}}</li>
                          <li *ngIf="infos.odus.esquerda[0].abstract !=''">Pessoas com este odú: {{infos.odus.esquerda[0].abstract}}</li>
                          <li *ngIf="infos.odus.esquerda[0].aspects !=''">Aspectos do odú: {{infos.odus.esquerda[0].aspects}}</li>
                        </ul>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      feito por <a
        href="https://api.whatsapp.com/send?phone=5511957713498&text=Ol%C3%A1%20Kevin%20acabei%20de%20testar%20seu%20app..."
        target="_blank"> Kevin Martins</a>
    </footer>
  </div>
</div>
